/* Mobile */
@media screen and (max-width: 640px) {
    .blog-container {
        padding: 2rem;
        padding-top: 4rem;
    }
}


/* Desktop */
@media screen and (min-width: 641px) {
    .blog-container {
        padding: 2rem 15rem;
    }

    .check-mark-wrapper {
        top: 3.1rem;
    }
}
