body {
  background: rgba(13,88,255);
  background-color: #3f3f3f;
}

.App {
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .spacer {
    height: 5em;
  }
  .mini-spacer{
    height: .5em;
  }

  .fader, .mini-fader{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    height: 5em;
  }
  
}

@media only screen and (min-width: 700px) {
  .spacer {
    height: 11em;
  }
  .explainer {
    width: 45%;
  }

  .mini-spacer{
    height: 2em;
  }

  .fader, .mini-fader{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    height: 8em;
  }
  
}

.explainer{
  font-size: 1.3em;
  margin: auto;
  /* background: url("../public/home-background.jpg"); */
}

.explainer-text{
  font-size: 0.9em;
  display: inline-block;
}

.second-explainer Input, .second-explainer p {
  width: 110px;
  /* display: inline-block; */
}

.explainer Input {
  margin-bottom: 10px;
}

.explainer Button {
  margin-top: 10px;
}

.background{
  background: url("./img/cow.jpg");
  /* background-color: #3f3f3f; */
  background-size: cover;
  background-repeat: none;
  z-index: -1;
  min-height: 105vh;
}

.home{
  background: url("./img/cow.jpg");
  /* background-color: #3f3f3f; */
  background-size: cover;
  background-repeat: none;
  z-index: -1;
  min-height: 105vh;
}

.cta, .cta-2 {
  display: inline-block;
  background-color: #f68528;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
}

.cta a, .cta-2 a{
  text-decoration: none;
  color: white;
}

.fade {
  background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, #fff 50%, rgba(13,88,255) 75%);
}

#navbar {
  color: #000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.blog-list {
  list-style: none;
  padding: 0;
  padding: 0 30% 0 30%;
  text-align: left;
  /* display: inline; */
}

.blog-list li Form {
  text-align: center;
}

.register, .login {
  padding-left: 30%;
  padding-right: 30%;
}

.register Input, .login Input {
  margin: 1em;
}

.blogs-row, .blogs-row td{
  margin: 5px;
}

.blogs-container{
  width: 80%;
  background-color: rgba(0,0,0,0.5);
  padding-top: 20px;
  border-radius: 15px;
}

.tiny-spacer{
  padding: 5px;
}

.input-item{
  width: 48%;
  margin: 1%;
}

.big-name{
  font-size: 5em;
  font-weight: 900;
  margin: 12px;
}

h3{
  font-weight: 200;
}

.footer{
  background-color: #3f3f3f;
}

.now{
  /* background-color: #2b2b2b; */
  background-image: url('./img/cloud-mountain.jpg');
  background-size: cover;
  background-repeat: none;
  height: 100%;
}

.readability{
  background-color: rgba(0,0,0,0.7);
  padding: 2em;
  border-radius: 12px;
  max-width: 600px;
  display: inline-block;
}

.wrapper {
  background-color:rgba(0,0,0,0.3);
}

.second-wrapper {
  background-color:rgba(0,0,0,0.5);
}

.last-wrapper {
  background-color:rgba(0,0,0,0.7);
}

.blog{
  padding-bottom: 5em;
  border-radius: 12px;
}

/* .portfolio{
  padding-bottom: 5em;
  border-radius: 12px;
} */

.last-fader{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7));
  height: 6em;
}

.email{
  color: white;
}

.email{
  margin: 25px;
}

.insta, .insta-logo{
  margin-bottom: 10px;
}

.nav-spacer{
  height: 75px;
  width: 0;
}

.tiny{
  font-size: 10px;
}

.small{
  font-size:13px;
}

.gray-boi{
  background-color: rgba(100, 100, 100, 1);
  margin: 2em;
  padding: 1em;
  border-radius: 20px;
}

.headline{
  font-size: 2.7em;
  font-weight: 800;
  margin-bottom: 3em;
}

.subheading{
  font-size: 1.5em;
  font-weight: 600;
}

.blog-header{
  font-weight: 800;
}

#navbar-header{
  font-size: 1.8em;
  font-weight: 900;
}

.now-header{
  font-weight: 800;
  margin: 2em;
}

.bold{
  font-weight: 650;
  font-size: 1.8em;
}

.blog-wrapper{
  background-image: url(./img/grass.jpg);
  background-size: cover;
  background-repeat: none;
  height: 100vh;
}

@media only screen and (min-width: 700px) {
  .blogs-container{
    width: 80%;
    background-color: rgba(0,0,0,0.5);
    padding-top: 20px;
    border-radius: 15px;
    padding: 1.5em;
  }
}

@media only screen and (max-width: 700px) {
  .blogs-container{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding-top: 20px;
    border-radius: 15px;
  }
}

.tiny-spacer{
  padding: 5px;
}

.input-item{
  width: 48%;
  margin: 1%;
}

@media only screen and (min-width: 1000px) {
  .large-view{
    visibility: visible;
    margin: 1em;
  }

  .small-view{
    display: none;
  }

  .blogs-spacer{
    height: 150px;
  }
}


@media only screen and (max-width: 1000px) {
  .large-view{
    display: none;
  }
  
  .small-view{
    visibility: visible;
    margin: 1em;
    /* font-size: 45px; */
  }

  .blogs-spacer{
    height: 50px;
  }
}