html, body {
  background: rgba(13,88,255);
  background-color: #3f3f3f;
  margin: 0;
  padding: 0;
}

.top-nav {
  width: 100%;
  background-color: #000;
  z-index: 2;
  height: 70px;
  padding: 20px;
}

#logo {
  position: fixed;
}

#logo img {
  max-height: 30px;
}

.header-image {
  border-radius: 0 0 0 120px;
  background-image: url('./img/climb.JPG');
  transform: scale(0.8);
  background-size: cover;
  min-height: 1000px;
  min-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 500px) {
  .titles {
    position: absolute;
    right: 15%;
  }
}

@media screen and (max-width: 500px) {
  .titles, .big-name {
    position: relative;
    /* right: 20%; */
    margin-left: 5%;
  }

  .header-image {
    background-position: center right 43%;;
  }
}


.hero-wrapper {
  position: fixed;
  top: 10%;
  min-height: 500px;
  min-width: 100%;
  z-index: -1;
}

.hero-wrapper, .body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 3em;
  font-weight: 700;
}

.body {
  padding: 0 15%;
  padding-bottom: 10%;
}

.link, .links a {
  text-shadow: 0 0 #000;
  text-decoration: none;
  color: white;
  transition: text-shadow 0.3s ease;
}

.link:hover, .links a:hover {
  color: white;
  text-shadow: 4px 4px rgb(110, 110, 110);
}

.App {
  text-align: left;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .spacer {
    height: 5em;
  }
  .mini-spacer{
    height: .5em;
  }

  .disappearing-spacer {
    height: 0;
  }

  .fader, .mini-fader{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    height: 5em;
  }
  
}

@media only screen and (min-width: 700px) {
  .spacer, .disappearing-spacer {
    height: 11em;
  }
  .explainer {
    width: 45%;
  }

  .mini-spacer{
    height: 2em;
  }

  .fader, .mini-fader{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    height: 8em;
  }
  
}

.explainer{
  font-size: 1.3em;
  margin: auto;
  /* background: url("../public/home-background.jpg"); */
}

.explainer-text{
  font-size: 0.9em;
  display: inline-block;
}

.second-explainer Input, .second-explainer p {
  width: 110px;
  /* display: inline-block; */
}

.explainer Input {
  margin-bottom: 10px;
}

.explainer Button {
  margin-top: 10px;
}

.background{
  /* background: url("./img/cow.jpg"); */
  /* background-color: #3f3f3f; */
  background-size: cover;
  background-repeat: none;
  z-index: -1;
  min-height: 105vh;
}

.block{
  /* background: #e59d9a; */
  margin: 1em 0 1em 0;
}

.block a, .block a:hover {
  color: #fff;
}

.home{
  /* background: url("./img/climb.JPG"); */
  background-color: #000;
  background-size: cover;
  background-repeat: none;
  z-index: -1;
  min-height: 105vh;
}

.cta, .cta-2 {
  display: inline-block;
  background-color: #f68528;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
}

.cta a, .cta-2 a{
  text-decoration: none;
  color: white;
}

.fade {
  background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, #fff 50%, rgba(13,88,255) 75%);
}

#navbar {
  color: #000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.register, .login {
  padding-left: 30%;
  padding-right: 30%;
}

.register Input, .login Input {
  margin: 1em;
}

.tiny-spacer{
  padding: 5px;
}

.input-item{
  width: 48%;
  margin: 1%;
}

.big-name{
  font-size: 5em;
  font-weight: 900;
  margin: 12px;
}

h3{
  font-weight: 200;
}

.footer{
  background-color: #3f3f3f;
}

.now{
  background-color: #000000;
  /* background-image: url('./img/cloud-mountain.jpg'); */
  background-size: cover;
  background-repeat: none;
  min-height: 100vh;
}

.work {
  background-color: #e4e4e4;
  color: #0f0f0f;
  /* background-image: url('./img/cloud-mountain.jpg'); */
  background-size: cover;
  background-repeat: none;
  height: 100%;
}

.work h2 {
  font-weight: 700;
}

.work h4 {
  font-weight: 700;
}

.work h6 {
  font-size: 0.75em;
}

.readability{
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  display: inline-block;
  width: 80vw;
  text-align: left;
  margin: 5vh 10vw;
}

.readability h3 {
  font-weight: 800;
}

.wrapper {
  background-color:rgba(0,0,0,0.3);
}

.second-wrapper {
  background-color:rgba(0,0,0,0.5);
}

.last-wrapper {
  background-color:rgba(0,0,0,0.7);
}

.last-fader{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7));
  height: 6em;
}

.email{
  color: white;
}

.email{
  margin: 25px;
}

.insta, .insta-logo{
  margin-bottom: 10px;
}

.nav-spacer{
  height: 75px;
  width: 0;
}

.tiny{
  font-size: 10px;
}

.small{
  font-size:13px;
}

.gray-boi{
  background-color: rgba(100, 100, 100, 1);
  margin: 2em;
  padding: 1em;
  border-radius: 20px;
}

.subheading{
  font-size: 1.5em;
  font-weight: 600;
}

#navbar-header{
  font-size: 1.8em;
  font-weight: 900;
}

.now-header, .fun-header {
  font-size: 4em;
  font-weight: 800;
  margin-left: 10%;
  max-width: 80%;
}

.work-header {
  font-weight: 800;
  margin-top: 2em;
}

.under-header {
  margin-left: 10%;
}

.bold{
  font-weight: 650;
  font-size: 1.8em;
}

@media only screen and (min-width: 700px) {
  .headline{
    font-size: 2.7em;
    font-weight: 800;
    margin-bottom: 3em;
  }
}

@media only screen and (max-width: 700px) {
  .headline{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 3em;
  }
}

.tiny-spacer{
  padding: 5px;
}

.input-item{
  width: 48%;
  margin: 1%;
}

@media only screen and (min-width: 1000px) {
  .large-view{
    visibility: visible;
    margin: 1em;
  }

  .small-view{
    display: none;
  }

  .email{
    width: 25%;
    font-size: .8em;
  }
}


@media only screen and (max-width: 1000px) {
  .large-view{
    display: none;
  }
  
  .small-view{
    visibility: visible;
    margin: 1em;
    /* font-size: 45px; */
  }

  .email{
    width: 65%;
    font-size: .8em;
  }
}

.mailchimp-style{
  position: absolute; 
  left: -5000px;
}

#mce-error-response, #mce-success-response{
  display:none
}

#mc-embedded-subscribe{
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: 900;
  background-color: #f68528;
}

.small-boi{
  font-weight: 100;
  font-size: .85em;
}

#mce-EMAIL{
  color: black
}

.lost h2 {
  color: black;
}

.lost a {
  color: white;
  text-decoration: underline;
}

.lost a:hover {
  color: white;
  text-decoration: none;
}

.surprise {
  margin-top: 2em;
}

.surprise:hover {
  cursor: pointer;
}

.iframe {
  width: 80vw;
  height: 110vh;
}

.white {
  color: white
}

.white:hover {
  color: rgb(192, 192, 192)
}

.now-text {
  width: 100%;
}