html,
body {
  background: rgba(13, 88, 255);
  background-color: #3f3f3f;
  margin: 0;
  padding: 0;
}

.top-nav {
  width: 100%;
  background-color: #000;
  z-index: 2;
  height: 70px;
  position: fixed;
  display: flex;
}

.glow {
  height: 10px;
  width: 100%;
  background-color: black; /* For browsers that do not support gradients */
}

.logo {
  align-items: flex-start;
}

.logo img {
  margin: 20px;
  max-height: 30px;
}

.header-image {
  border-radius: 0 0 0 120px;
  transform: scale(0.8);
  background-size: cover;
  height: 80vh;
  min-height: 1000px;
  min-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left 58% top 45%;
  border-radius: 0 0 0 120px;
}

.body {
  padding-bottom: 10%;
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .titles {
    position: absolute;
  }

  .container {
    max-width: 60%
  }

  .body {
    padding: 0 15%;
  }
}

@media screen and (max-width: 700px) {
  .titles,
  .big-name {
    position: relative;
  }

  .header-image {
    min-height: 500px;
    background-position: left 58% top 45%;
    transform: scale(1.2);
  }

  .check-mark-wrapper {
    display: none;
  }

  .container {
    max-width: 80%
  }

  .body {
    padding: 0;
  }

  .header-image {
    transform: scale(1);
    margin: 5rem 0;
  }

}

.container {
  padding: 4rem 2rem;
}

.hero-wrapper {
  position: fixed;
  top: 10%;
  min-height: 500px;
  min-width: 100%;
  z-index: -1;
}

.hero-wrapper,
.body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 3em;
  font-weight: 700;
}

.link-p {
  display: block;
  line-height: 1;
  margin: 1.6rem 0;
}

.link,
.links a {
  text-shadow: 0 0 #000;
  text-decoration: underline;
  color: white;
  transition: text-shadow 0.3s ease;
}

.link:hover,
.links a:hover {
  color: white;
  text-shadow: 4px 4px rgb(110, 110, 110);
  text-decoration: none;
}

.App {
  text-align: left;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .spacer {
    height: 5em;
  }
  .mini-spacer {
    height: 0.5em;
  }

  .disappearing-spacer {
    height: 0;
  }
}

@media only screen and (min-width: 700px) {
  .spacer,
  .disappearing-spacer {
    height: 11em;
  }
  .explainer {
    width: 45%;
  }

  .mini-spacer {
    height: 2em;
  }
}

.explainer {
  font-size: 1.3em;
  margin: auto;
}

.background {
  background-size: cover;
  background-repeat: none;
  z-index: -1;
  min-height: 105vh;
}

.block {
  margin: 1em 0 1em 0;
}

.block a,
.block a:hover {
  color: #fff;
}

.home {
  background-color: #000;
  background-size: cover;
  background-repeat: none;
  z-index: -1;
  min-height: 100vh;
  height: 100%;
  max-height: 100%;
}

.cta,
.cta-2 {
  display: inline-block;
  background-color: #f68528;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
}

.cta a,
.cta-2 a {
  text-decoration: none;
  color: white;
}

#navbar {
  color: #000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.register,
.login {
  padding-left: 30%;
  padding-right: 30%;
}

.register Input,
.login Input {
  margin: 1em;
}

.tiny-spacer {
  padding: 5px;
}

.big-name {
  font-size: 5rem;
  font-weight: 900;
  margin-top: 2rem;
}

.titles h3 {
  font-weight: 200;
}

.footer {
  background-color: #3f3f3f;
}

.now {
  background-color: #000000;
  background-size: cover;
  background-repeat: none;
  min-height: 100vh;
}

.work {
  background-color: #e4e4e4;
  color: #0f0f0f;
  background-size: cover;
  background-repeat: none;
  height: 100%;
}

.work h2 {
  font-weight: 700;
}

.work h4 {
  font-weight: 700;
}

.work h6 {
  font-size: 0.75em;
}

.main {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  width: 80vw;
  text-align: left;
}

.readability h3 {
  font-weight: 800;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

.email {
  color: white;
}

.email {
  margin: 25px;
}

.insta,
.insta-logo {
  margin-bottom: 10px;
}

.tiny {
  font-size: 10px;
}

.small {
  font-size: 13px;
}

.gray-boi {
  background-color: rgba(100, 100, 100, 1);
  margin: 2em;
  padding: 1em;
  border-radius: 20px;
}

.subheading {
  font-size: 1.2rem;
  font-weight: 600;
}

.subheader {
  margin-left: 10%;
}

.bold {
  font-weight: 650;
  font-size: 1.8em;
}

.header {
  font-size: 4em;
  font-weight: 800;
  max-width: 80%;
  margin-top: 1em;
}

@media only screen and (min-width: 700px) {
  .headline {
    font-size: 2.7em;
    font-weight: 800;
    margin-bottom: 3em;
  }

  .header {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 700px) {
  .headline {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 3em;
  }

  .header {
    font-size: 1.9em;
  }
}

.tiny-spacer {
  padding: 5px;
}

@media only screen and (min-width: 1000px) {
  .large-view {
    visibility: visible;
    margin: 1em;
  }

  .small-view {
    display: none;
  }

  .email {
    width: 25%;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1000px) {
  .large-view {
    display: none;
  }

  .small-view {
    visibility: visible;
    margin: 1em;
  }

  .email {
    width: 65%;
    font-size: 0.8em;
  }
}

.lost h2 {
  color: black;
}

.lost a,
.other li a {
  color: white;
  text-decoration: underline;
}

.lost a:hover,
.other li a:hover {
  color: white;
  text-decoration: none;
}

.surprise {
  margin-top: 2em;
}

.surprise:hover {
  cursor: pointer;
}

.iframe {
  width: 80vw;
  height: 110vh;
}

.white {
  color: white;
  font-weight: 650;
  text-decoration: underline;
}

.white:hover {
  color: rgb(192, 192, 192);
}

.item {
  margin: 5em 0;
}

.icons {
  margin-top: 5rem;
}

.icons img {
  display: inline-block;
  height: 1.8rem;
  margin: 0 0.6rem;
  transition: filter 0.3s ease;
}
.icons img:hover {
  transition: 0.3s;
  -webkit-filter: drop-shadow(0 0 0.75rem #fff);
  filter: drop-shadow(0 0 0.75rem #fff);
}

.blog-text p,
.blog-text li {
  font-size: 1.1rem;
}

.blog-text p,
.blog-text > ul {
  margin: 40px 0;
}

.flip-1,
.flip-2,
.flip-3 {
  transform: rotateX(-90deg);
  animation: flip-in 0.5s ease-in forwards;
  animation-delay: 0.5s;
}

.flip-2 {
  animation-delay: 1s;
}

.flip-3 {
  animation-delay: 1.5s;
}

@keyframes flip-in {
  0% {
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
  }
  100% {
    transform: rotateX(0deg);
    transform-style: preserve-3d;
  }
}

.blog-list {
  list-style: none;
  padding: 0;
}

.blog-list a {
  color: white;
  text-decoration: underline;
  font-size: 1.5rem;
}

.blog-list li {
  margin: 15px 0;
}

.blog-list a:hover {
  color: rgb(221, 221, 221);
}

.code {
  white-space: pre-wrap;
  padding: 2rem;
  background-color: whitesmoke;
  font-family: monospace;
  color: #000000;
  word-wrap: normal;
}

.neumorphism-button {
  color: white;
  margin: 1rem;
  padding: .3rem .5rem;
  min-height: 20px;
  background-color: black; /* For browsers that do not support gradients */
  border-radius: 5px;
  border: none;
  box-shadow: 4px 4px 10px #6e6e6e, -1px -1px 5px #6e6e6e;
  align-items: flex-end;
  font-weight: 600;
}

.neumorphism-button:hover {
  box-shadow: 3px 3px 10px #6e6e6e, -1px -1px 7px #6e6e6e;
}
