html, body {
  background: rgba(13,88,255);
  background-color: #3f3f3f;
  margin: 0;
  padding: 0;
}

.top-nav {
  width: 100%;
  background-color: #000;
  z-index: 2;
  height: 70px;
  padding: 20px;
}

#logo {
  position: fixed;
}

#logo img {
  max-height: 30px;
}

.header-image {
  border-radius: 0 0 0 120px;
  background-image: url('./img/climb.JPG');
  transform: scale(0.8);
  background-size: cover;
  min-height: 1000px;
  min-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 700px) {
  .titles {
    position: absolute;
  }
}

@media screen and (max-width: 700px) {
  .titles, .big-name {
    position: relative;
  }

  .header-image {
    background-position: center right 43%;;
  }

  .check-mark-wrapper {
    zoom: 40%;
    padding: 20px;
  }
}

.container {
  padding: 4rem 2rem;
}


.hero-wrapper {
  position: fixed;
  top: 10%;
  min-height: 500px;
  min-width: 100%;
  z-index: -1;
}

.hero-wrapper, .body {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 3em;
  font-weight: 700;
}

.body {
  padding: 0 15%;
  padding-bottom: 10%;
}

.link-p {
  display: block;
}

.link, .links a {
  text-shadow: 0 0 #000;
  text-decoration: underline;
  color: white;
  transition: text-shadow 0.3s ease;
}

.link:hover, .links a:hover {
  color: white;
  text-shadow: 4px 4px rgb(110, 110, 110);
  text-decoration: none;
}

.App {
  text-align: left;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .spacer {
    height: 5em;
  }
  .mini-spacer{
    height: .5em;
  }

  .disappearing-spacer {
    height: 0;
  }
}

@media only screen and (min-width: 700px) {
  .spacer, .disappearing-spacer {
    height: 11em;
  }
  .explainer {
    width: 45%;
  }

  .mini-spacer{
    height: 2em;
  }
}

.explainer{
  font-size: 1.3em;
  margin: auto;
  /* background: url("../public/home-background.jpg"); */
}

.background{
  /* background: url("./img/cow.jpg"); */
  /* background-color: #3f3f3f; */
  background-size: cover;
  background-repeat: none;
  z-index: -1;
  min-height: 105vh;
}

.block{
  /* background: #e59d9a; */
  margin: 1em 0 1em 0;
}

.block a, .block a:hover {
  color: #fff;
}

.home{
  /* background: url("./img/climb.JPG"); */
  background-color: #000;
  background-size: cover;
  background-repeat: none;
  z-index: -1;
  min-height: 105vh;
}

.cta, .cta-2 {
  display: inline-block;
  background-color: #f68528;
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
}

.cta a, .cta-2 a {
  text-decoration: none;
  color: white;
}

#navbar {
  color: #000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.register, .login {
  padding-left: 30%;
  padding-right: 30%;
}

.register Input, .login Input {
  margin: 1em;
}

.tiny-spacer {
  padding: 5px;
}

.big-name {
  font-size: 5rem;
  font-weight: 900;
  margin-top: 2rem;
}

.titles h3 {
  font-weight: 200;
}

.footer{
  background-color: #3f3f3f;
}

.now {
  background-color: #000000;
  /* background-image: url('./img/cloud-mountain.jpg'); */
  background-size: cover;
  background-repeat: none;
  min-height: 100vh;
}

.work {
  background-color: #e4e4e4;
  color: #0f0f0f;
  /* background-image: url('./img/cloud-mountain.jpg'); */
  background-size: cover;
  background-repeat: none;
  height: 100%;
}

.work h2 {
  font-weight: 700;
}

.work h4 {
  font-weight: 700;
}

.work h6 {
  font-size: 0.75em;
}

.main{
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  display: inline-block;
  width: 80vw;
  text-align: left;
}

.readability h3 {
  font-weight: 800;
}

.wrapper {
  background-color:rgba(0,0,0,0.3);
}

.email{
  color: white;
}

.email{
  margin: 25px;
}

.insta, .insta-logo{
  margin-bottom: 10px;
}

.tiny{
  font-size: 10px;
}

.small{
  font-size:13px;
}

.gray-boi{
  background-color: rgba(100, 100, 100, 1);
  margin: 2em;
  padding: 1em;
  border-radius: 20px;
}

.subheading{
  font-size: 1.2rem;
  font-weight: 600;
}

.subheader {
  margin-left: 10%;
}

.bold{
  font-weight: 650;
  font-size: 1.8em;
}

.header {
  font-size: 4em;
  font-weight: 800;
  max-width: 80%;
  margin-top: 1em;
}

@media only screen and (min-width: 700px) {
  .headline{
    font-size: 2.7em;
    font-weight: 800;
    margin-bottom: 3em;
  }

  .header {
    margin-top: 1em;
  }
}

@media only screen and (max-width: 700px) {
  .headline{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 3em;
  }

  .header {
    margin-top: 2em;
  }
}

.tiny-spacer{
  padding: 5px;
}

@media only screen and (min-width: 1000px) {
  .large-view{
    visibility: visible;
    margin: 1em;
  }

  .small-view{
    display: none;
  }

  .email{
    width: 25%;
    font-size: .8em;
  }
}


@media only screen and (max-width: 1000px) {
  .large-view{
    display: none;
  }
  
  .small-view{
    visibility: visible;
    margin: 1em;
    /* font-size: 45px; */
  }

  .email{
    width: 65%;
    font-size: .8em;
  }
}

.mailchimp-style{
  position: absolute; 
  left: -5000px;
}

#mce-error-response, #mce-success-response{
  display:none
}

#mc-embedded-subscribe{
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: 900;
  background-color: #f68528;
}

.small-boi{
  font-weight: 100;
  font-size: .85em;
}

#mce-EMAIL{
  color: black
}

.lost h2 {
  color: black;
}

.lost a {
  color: white;
  text-decoration: underline;
}

.lost a:hover {
  color: white;
  text-decoration: none;
}

.surprise {
  margin-top: 2em;
}

.surprise:hover {
  cursor: pointer;
}

.iframe {
  width: 80vw;
  height: 110vh;
}

.white {
  color: white;
  font-weight: 650;
  text-decoration: underline;
}

.white:hover {
  color: rgb(192, 192, 192)
}

.item {
  margin: 5em 0;
}

.icons {
  margin-top: 5rem;
}

.icons img {
  display: inline-block;
  height: 1.8rem;
  margin: 0 0.75rem;
  transition: filter 0.3s ease;
}
.icons img:hover {
  transition: .3s;
  -webkit-filter: drop-shadow(0 0 0.75rem #fff);;
  filter: drop-shadow(0 0 0.75rem #fff);
}

/* this is scroller CSS until I figure out how to abstract it out */

svg {
  position: fixed;
  z-index: 3;
}

.white-wrapper svg {
  right: 50px;
  z-index: 2 !important;
}

#circle-wrapper {
  transform: rotate(-90deg);
  right: 50px;
  z-index: 3;
}

#circle-lol {
  stroke: black;
  z-index: 3;
}

#emoji {
  margin-top: 50px;
  right: 80px;
  z-index: 3;
}

.hidden {
  visibility: hidden;
}

.shown {
  visibility: visible;
}

.pop-in, .pop-in-initial {
  animation: pop-in;
  animation-duration: 1s;
  /* z-index: 5; */
  position: relative;
}

.pop-in-initial {
  animation-duration: 0.5s;
}

@keyframes pop-in {
  0% {
      opacity: 0;
      z-index: 5;
  }
  100% {
      opacity: 1;
      z-index: 5;
  }
}

.fade-out {
  animation: fade-out;
  animation-duration: 1s;
}

@keyframes fade-out {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}


.grey-out {
  animation: grey-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes grey-out {
  0% {
      /* stroke: #000; */
  }
  100% {
      stroke: #000;
  }
}